@import "../../../common/mixins";


.skills__item {
  font-family: var(--font-family);
  color: white;
  @include adaptive-value(padding-bottom, 40, 30, 1);
  @include adaptive-value(margin-left, 0, 10, 1);
  @include adaptive-font(22, 12);

  @media (max-width: 576px) {
    text-align: left;
  }
}