.banner.classic {
  width: 100%;

  @media (max-width: 768px) {

  }

  .banner__image {
    width: 100%;
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
    fill: var(--primary-color);
    justify-self: center;
  }

  #imageBlob {
    transform: translateX(-20px);
  }


}

.banner.banner_outlined {

  width: 100%;
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
  justify-self: center;

  & path {
    stroke: var(--primary-color);
  }
}