@import "../../../common/mixins";

.item {
  width: 30%;
  background-color: var(--bgc);
  max-height: 500px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include adaptive-value('margin-bottom', 50, 20, 1);
  @include adaptive-value('margin-top', 50, 20, 1);
  @include adaptive-value('padding-bottom', 50, 20, 1);
  @include adaptive-value('padding-top', 50, 20, 1);

  @media (max-width: 552px) {
    width: 80%;
  }

  .item__image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 auto;
      @include adaptive-value('height', 200, 75, 1);
    }
  }

  .item__title {
    color: var(--primary-color);
    @extend %title-font-size;
    @include adaptive-value(padding-top, 20, 10, 1);
    @include adaptive-value(padding-bottom, 20, 10, 1);
  }

  .item__text {
    @extend %text-font-size;
    color: var(--secondary-color);
    width: 70%;
  }
}